# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages for Data Scientists
- Commonly used libraries by Data Scientists
- Data science tools
- Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib
- Tensorflow

## Table of data science tools


| Data Science Tools | 
| ------------------- |
| Pandas | 
| Apache Spark |
| TensorFlow |

### Below are a few examples of arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This code will converts 200 minutes in to hours by dividing by sixty
minutes_assignment = 200
hours_assignment = minutes_assignment/60
print(hours_assignment)

3.3333333333333335

## Author
Nirab Bhattarai